<!DOCTYPE html>
<html ng-app="PairingMatrix">
<head>
  <title>Pairing Matrix</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>

</head>
<body>

  <% if user_signed_in? %>
    <%= button_to "Sign out", destroy_user_session_path, method: :delete %>
  <% else %>
    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>

      <div class="field">
        <%= f.label :email %>
        <%= f.email_field :email, autofocus: true %>

        <%= f.label :password %>
        <%= f.password_field :password, autocomplete: "off" %>

        <%= f.submit "Log in" %>
      </div>

    <% end %>
  <% end %>

  <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>

<%= yield %>

</body>
</html>
